@page
@model UploadPurchaseOrder.Pages.PurchaseOrders.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PurchaseOrder</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseOrder.orderNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PurchaseOrder.orderNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseOrder.buyerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PurchaseOrder.buyerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseOrder.buyerStreetAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PurchaseOrder.buyerStreetAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseOrder.buyerCityStateZip)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PurchaseOrder.buyerCityStateZip)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseOrder.buyerPhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PurchaseOrder.buyerPhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseOrder.OrderDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PurchaseOrder.OrderDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseOrder.vendorName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PurchaseOrder.vendorName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseOrder.vendorStreetAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PurchaseOrder.vendorStreetAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseOrder.vendorCityStateZip)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PurchaseOrder.vendorCityStateZip)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseOrder.vendorPhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PurchaseOrder.vendorPhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseOrder.subtotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PurchaseOrder.subtotal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseOrder.tax)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PurchaseOrder.tax)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseOrder.shipping)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PurchaseOrder.shipping)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseOrder.fullTotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PurchaseOrder.fullTotal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseOrder.purchaseOrderPDF)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PurchaseOrder.purchaseOrderPDF)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="PurchaseOrder.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
